# dependencies
/node_modules

# testing
/coverage

# production
/build

# work imgs
/public/assets/img/work

# updated time
src/components/data/updated_time.js

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
deploy.js
